*.py[cod]
.hgignore~
.gitignore~
.hg/
.tox/

/examples/db/
/examples/tmp/
/examples/logs/
/examples/static/
/build/
/builddocs/
/builddocs.zip
/dist/
/src/vishap.egg-info
/examples/example/local_settings.py

